@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välsignad</h1>
    <p>Lär dig mer om <a href="https://www.svenskakyrkan.se/">Gud</a>, Amen.</p>
</div>
